# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.eggs/
*.pyo
*.pyd

# Environments
.env
.env.*
venv/
env/
ENV/
.venv/
.venv.bak/

# VSCode
.vscode/

# Pytest
.cache/
*.cover
coverage.xml
htmlcov/

# MyPy / Linting
.mypy_cache/
.dmypy.json
.pytype/

# Logs
*.log
